#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App {
  height: 100%;
  width: 100%;
}

.header {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textFieldContainer {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.spacer {
  height: 30px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.links {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
